.icon {
  &-danger {
    color: $danger;
  }

  &-success {
    color: $success;
  }

  &-info {
    color: $info;
  }

  &-secondary {
    color: $secondary;
  }

  &-primary {
    color: $primary;
  }

  &-warning {
    color: $warning
  }
}