.icon-danger {
  color: $danger;
}

.icon-success {
  color: $success;
}

.icon-primary {
  color: $primary;
}

.icon-info {
  color: $info;
}

.icon-secondary {
  color: $secondary;
}

.icon-warning {
  color: $warning
}